* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}
:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

/* AGORA O CONTAINER ESTA EM VOLTA DO ASIDE E MAIN */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  gap: 30px;
  background-color: var(--body-bg-color);
}

/* Agora o aside precisa de um display flex, da mesma forma que vc estava manipulando o container dentro do aside, vamos manipular apenas como aside */

aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 348px;
}
main{
  max-width: 952px;
}

.perfil {
  display: flex;
  width: 100%;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-cards);
  color: var(--text-color);
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
}
.perfil h3 {
  font-size: 23px;
  font-weight: 700;
  background-color: var(--bg-cards);
  margin-bottom: 10px;
}
.perfil p{
  font-size: 13px;
  font-weight: 400;
}
.perfil img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #00ff00;
  margin-bottom: 30px;
}
.redes {
  display: flex;
  width: 100%;
  padding: 30px;
  flex-direction: column;
  background-color: var(--bg-cards);
  color: var(--text-color);
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
  gap: 20px;
}
.rede-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-cards);
}
.redes,img,a {
  display: flex;
  background-color: var(--bg-cards);
}
.conhecimento {
  display: flex;
  width: 100%;
  padding: 30px;
  flex-direction: column;
  background-color: var(--bg-cards);
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
}
.titulo,
h3 {
  color: var(--text-color);
}
.tecnologias {
  display: flex;
  padding-top: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.tecnologias p {
  font-size: 13px;
  min-width: 86px;
  padding: 7px 2px;
  border-radius: 34px;
  text-align: center;
  font-weight: 400;
  background-color: var(--bg-techs);
}
.experiencia {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  background-color: var(--bg-cards);
  color: var(--text-color);
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
}
.educacao {
  display: flex;
  width: 100%;
  padding: 30px;
  gap: 20px;
  flex-direction: column;
  background-color: var(--bg-cards);
  color: var(--text-color);
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
}
.educacao ul , .experiencia ul{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.container2 {
  display: flex;
  flex-direction: row;
}
.projetos {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--bg-cards);
  color: var(--text-color);
  align-items: center;
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
  justify-content: space-between;
}
h1{
  display: flex;
  padding: 30px;
  font-weight: 700;
  font-size: 20px;
  justify-content: flex-start;
}
h2{
  display: flex;
  padding: 34px;
  font-weight: 400;
  font-size: 14px;
}
#anos{
  margin-bottom: 28px;
}
.twoonix{
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: flex-start; 
}
.onix{
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;
  gap: 16px;
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
  width: 461px;
  background-color: var(--bg-cards);
  color: var(--text-color);
}
.meuonix{
  display: flex;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
}
.estrela{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.imaonix{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  gap: 8px;
  margin-bottom: 30px;
}
#consulte{
  margin-bottom: 15px;
}
.recentepost{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  background-color: var(--bg-cards);
  color: var(--text-color);
  align-items: center;
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
}
.post{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--bg-cards);
  color: var(--text-color);
  margin-top: 30px;
  box-shadow: 0px 2px 2px black;
  border-radius: 20px;
}
.fotopost{
  display: flex;
  flex-direction: row;
  padding: 30px;

}
.fotopost img{
  display: flex;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 20px;
}
.textpost{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 12px;
}
.textpost h3{
  font-weight: 700;
  font-size: 18px;
}
.textpost p{
  display: flex;
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
}
.react{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media only screen and (max-width: 960px) {
  
  aside, main {
    max-width: 100%;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
 .projetos , .onix , .recentepost{
  width: 100%;
 }
 .twoonix{
  flex-direction: column;
 }
 .post{
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
 }
}

@media only screen and (max-width: 355px) {
  .estrela{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1225px) {

  aside,main{
    max-width: 100%;
    background-color: var(--body-bg-color);
  }
  .projetos , .onix , .recentepost {
    width: 100%;
  }
}